importFrom("stats", "nobs", "coef", "df.residual", "var", "vcov",
           "logLik", "deviance", "AIC", "BIC", "printCoefmat",
           "naprint", ".checkMFClasses", "delete.response", "family",
           "model.frame", "model.matrix", "na.action", "qnorm",
           "terms", "na.pass")
importFrom("sandwich", "vcovHC", "sandwich", "estfun")
importFrom("lmtest", "coeftest", "coeftest.default")
importFrom("methods", "isGeneric", "setGeneric", "setMethod",
           "className")

S3method(summary,mi.estimates)
S3method(vcov,mi.estimates)
S3method(print,mi.estimates)
S3method(summary,mi.estimates)
S3method(print,summary.mi.estimates)
S3method(predict,mi.estimates)
S3method(summary,robustified)
S3method(print,robustified)
S3method(vcov,robustified)
S3method(predict,robustified)
S3method(print,summary.robustified)
S3method(vcov,summary.robustified)
S3method(vcovHC,polr)

export(vcovCR,robust.summary,mi.eval,robustify)
